// color variables
$primary-bg: #fff;
$secondary-bg: #fff6f9;
//$secondary-bg: #f8f8f8;
//$secondary-bg: #fcf6ff;

$primary-text: #333;
$secondary-text: #999999;

$primary-accent: #f34a6e;
$secondary-accent: #4af3cf;