/**
 *	Globals
 */

* {
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: $secondary-bg;
	font-family: 'MuliLight', Helvetica, sans-serif;
	font-size: 100%;
	overflow: hidden;
	@media screen and (max-width: $bp-medium) {
		font-size: 90%;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'MuliExtraBold', Helvetica, sans-serif;
	letter-spacing: 0.5px;
	color: $primary-text;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

hr {
	border: none;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

p {
	margin: 0;
}
