/**
 *	Globals
 */

*{
	box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
	background-color: #eee;
}

body{
	margin: spacing(3);
  padding: spacing(3);
	background-color: white;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	font-weight: 400;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

hr{
	border: none;
}

a{
	text-decoration: none;
	color: black;
	cursor: pointer;
}

p{
	margin: 0;
}
