<div id="nav-bar" class="hide">
	<a id="nav-left" class="nav-arrow">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 32"><title>left</title><path class="i" d="M11.3,16.7l9,9a1,1,0,0,0,1.4-1.4L13.4,16l8.3-8.3a1,1,0,1,0-1.4-1.4l-9,9A1,1,0,0,0,11.3,16.7Z"/></svg>
	</a>
	<div id="nav-container">
		{{#each this}}
		<a class="nav-elem">
			<h4 class="nav-title">{{title}}</h4>
		</a>
		{{/each}}
	</div>
	<a id="nav-right" class="nav-arrow">
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 32 32"><title>right</title><path class="i" d="M21.7,15.3l-9-9a1,1,0,0,0-1.4,1.4L19.6,16l-8.3,8.3a1,1,0,0,0,1.4,1.4l9-9A1,1,0,0,0,21.7,15.3Z"/></svg>
	</a>
</div>