#about {
	padding: 2rem;
	text-align: center;
	
	.about-title {
		text-transform: uppercase;
	}

	.about-desc {
		max-width: 25rem;
		margin-left: auto;
		margin-right: auto;
	}

	@media screen and (max-width: $bp-medium) {
		padding: 1rem;
	}
}