body {
	font-size: 100%;
	@media screen and (max-width: $bp-medium) {
		font-size: 90%;
	}
}

#gallery {
	position: relative;

	#gallery-up {
		@extend .arrow;
		display: none;
		position: absolute;
		right: 2rem;
		bottom: 2rem;

/*		img {
			background-color: $primary-bg;
			box-shadow: 1px 4px 4px 0 rgba(black, 0.02), 1px 5px 10px 0 rgba(black, 0.02);
		}*/

	}

	@media screen and (max-width: $bp-xlarge) {
		#gallery-up {
			display: inline;
		}
	}
}

/*#gallery::before {
		content: " ";
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background: linear-gradient(to right, rgba(238,238,238,1) 0%, rgba(238,238,238,0) 100%);
}

#gallery::after {
		content: " ";
		width: 10%;
		height: 100%;
		position: absolute;
		top: 0;
		right: 0;
		background: linear-gradient(to left, rgba(238,238,238,1) 0%, rgba(238,238,238,0) 100%);
}*/