#gallery {
	width: 100%;
	height: 100%;
}

#gallery-nav {
	width: 100%;
	height: 100px;
}

#gallery-pages {
	background-color: #eee;

/*	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;*/
}