#gallery-pages {
	.item {
		position: relative;
		padding: 1.2rem;
		margin-bottom: 1.4rem;
		background-color: $secondary-bg;
		break-inside: avoid-column;
		transition: transform $secondary-time;

		&:hover {
			transform: translate3D(-0.1rem, -0.2rem, 0);

			.item-container {
				cursor: pointer;
			}

			.item-count {
				cursor: pointer;
				opacity: 1;
			}
		}
	}

	.item-count {
		opacity: 0;
		position: absolute;
		top: 0;
		right: 0;
		width: 2.5rem;
		height: 2.5rem;
		line-height: 2.5rem;
		border-radius: 999rem;
		transition: opacity $secondary-time;
		background-color: $primary-bg;
		box-shadow: 1px 4px 4px 0 rgba(black, 0.02), 1px 5px 10px 0 rgba(black, 0.02);
		text-align: center;
		font-size: 0.75rem;
		color: $primary-accent;
		z-index: 1;
	}

	.item-container {
		box-shadow: 0 6px 6px 0 rgba(black, 0.06), 0 10px 20px 0 rgba(black, 0.06);
		border-radius: 0 0 5px 5px;
	}
	
	.item-caption {
		padding: 2rem;
		text-align: center;
		background-color: $primary-bg;
		border-radius: 0 0 5px 5px;
	}

	.item-title {
		margin: 0;
		margin-bottom: 1rem;
		text-transform: uppercase;
	}

	.item-desc {
		$font-size: 1rem;
		$line-height: 1.5;
		$lines: 2;

		@extend .desc;
		@include multiline-ellipse($font-size, $line-height, $lines);
	}
	
	.item-photos {
		position: relative;
	}
	
	.photo {
		margin: 0;
		padding: 0;
	
		width: 100%;
		height: auto;
	
		display: none;
		&:first-child {
			display: block;
		}
	}
	
	.photo-img {
		width: 100%;
	}

	@media screen and (max-width: $bp-medium) {
		.item {
			padding-bottom: 2rem;
		}
	}
}

