#gallery-nav {
	$nav-elem-width: 8rem;
	$nav-elem-margin: 1rem;
	background: linear-gradient(180deg, $primary-bg 50%, $secondary-bg 50%);

	.fade-mask {
		content: " ";
		width: 200%;
		height: 50%;
		position: absolute;
		top: 0;
		pointer-events: none;
		z-index: 1;
	}

	#nav {
		position: relative;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2rem;
		padding-bottom: 2rem;
		
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;

		// up to 5 transitions, max of 10 gallery pages
		@for $i from 1 through 5 {
			$nav-elem-transition: $nav-elem-width + (2 * $nav-elem-margin);
			
			&.left-#{$i} {
				transition: transform $primary-time, opacity $primary-time;
				transform: translateX(#{$i * $nav-elem-transition});
				&::before {
					transition: transform $primary-time, opacity $primary-time;
					transform: translateX(#{$i * $nav-elem-transition * -1});
				}
				&::after {
					transition: transform $primary-time, opacity $primary-time;
					transform: translateX(#{$i * $nav-elem-transition * -1});
				}
			}
			&.right-#{$i} {
				transition: transform $primary-time, opacity $primary-time;
				transform: translateX(#{$i * $nav-elem-transition * -1});
				&::before {
					transition: transform $primary-time, opacity $primary-time;
					transform: translateX(#{$i * $nav-elem-transition});
				}
				&::after {
					transition: transform $primary-time, opacity $primary-time;
					transform: translateX(#{$i * $nav-elem-transition});
				}
			}
		}
	}

	#nav::before {
		@extend .fade-mask;
		background: linear-gradient(to right, rgba($primary-bg, 1) 23.5%, transparent 27.75%, transparent 72.25%, rgba($primary-bg, 1) 76.5%);
	}

	#nav::after {
		@extend .fade-mask;
		top: 50%;
		background: linear-gradient(to right, rgba($secondary-bg, 1) 23.5%, transparent 27.75%, transparent 72.25%, rgba($secondary-bg, 1) 76.5%);
	}

	.nav-elem {
		min-width: $nav-elem-width;
		margin: $nav-elem-margin;
		padding: 1rem;
		text-align: center;
		text-transform: uppercase;
		background-color: transparent;

		background-color: $primary-bg;
		box-shadow: 0 4px 4px 0 rgba(black, 0.1), 0 5px 10px 0 rgba(black, 0.08);
		border-radius: 999rem;

		opacity: 1;
		transition: all $primary-time, color $primary-time;
		&.hide {
			opacity: 0;
		}

		&.target{
/*		background-color: $primary-bg;
		box-shadow: 0 4px 4px 0 rgba(black, 0.1), 0 5px 10px 0 rgba(black, 0.08);
		border-radius: 999rem;*/
			.nav-title{
				color: $primary-accent;
			}
		}
	}

	.nav-title {
		margin: 0;
	}

	@media screen and (max-width: $bp-medium) {
		padding: 1rem;

		#nav {
			flex-direction: column;
			justify-content: center;
			align-items: center;

			@for $i from 1 through 5 {
				&.left-#{$i} {
					transform: translateX(0);
					&::before, &::after {
						transform: translateX(0);
					}
				} 
				&.right-#{$i} {
					transform: translateX(0);
					&::before, &::after {
						transform: translateX(0);
					}
				}
			}
		}

		#nav::before, #nav::after {
			display: none;
		}

		.nav-elem {
			width: 100vw;
			margin: 0.5rem;
			&.hide {
				opacity: 1;
			}
		}
	}

	@media screen and (max-width: $bp-small) {

	}
}
