#gallery-nav {
	// Nav variables
	$nav-elem-width: 8rem;
	$nav-elem-margin: 0.6rem;

	position: relative;
	padding-top: 2rem;	
	padding-bottom: 2rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	background: $secondary-bg;

	#nav-bar {
		display: inline-block;
		position: relative;

		.hide {
			@extend .hide;
		}
	}

	.nav-arrow {
		@extend .arrow;
		position: absolute;
		top: 0;
		height: 100%;
		z-index: 2;
	}

	#nav-left {
		left: -5rem;
		&:hover {
			transform: translateX(-0.2rem);
		}
		&::before {
			@extend .hide-pseudo;
			width: 600%;
			height: 100%;
			left: -50%;
			background: linear-gradient(to right, rgba($secondary-bg, 1) 22%, rgba($secondary-bg, 0) 27%);
		}
	}

	#nav-right {
		right: -5rem;
		&:hover {
			transform: translateX(0.2rem);
		}
		&::before {
			@extend .hide-pseudo;
			width: 600%;
			height: 100%;
			right: -50%;
			background: linear-gradient(to right, rgba($secondary-bg, 0) 73%, rgba($secondary-bg, 1) 78%);
		}
	}

	#nav-container {
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
	
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		flex-wrap: nowrap;
	
		// up to 5 transitions, max of 10 gallery pages
		@for $i from 1 through 5 {
			$distance: $nav-elem-width + (2 * $nav-elem-margin);
			$direction-left: 1;
			$direction-right: -1;
			
			&.left-#{$i} {
				@include nav-slide($distance, $direction-left, $i);
			}
			&.right-#{$i} {
				@include nav-slide($distance, $direction-right, $i);
			}
		}

		&::before, 
		&::after {
			@extend .hide-pseudo;
			width: 200%;
			height: 100%;
			top: 0;
			left: -50%;
		}

		&::before {
			background: linear-gradient(to right, rgba($secondary-bg, 1) 24%, rgba($secondary-bg, 0) 27%);
		}

		&::after {
			background: linear-gradient(to right, rgba($secondary-bg, 0) 73%, rgba($secondary-bg, 1) 76%);
		}
	}

	.nav-elem {
		min-width: $nav-elem-width;
		margin: $nav-elem-margin;
		padding: 1rem;
		text-align: center;
		text-transform: uppercase;
		background-color: transparent;
		border-radius: 999rem;

		opacity: 1;
		transition: opacity $primary-time, background-color $secondary-time, box-shadow $secondary-time;

		&.target {
			background-color: $primary-bg;
			box-shadow: 1px 4px 4px 0 rgba(black, 0.03), 1px 5px 10px 0 rgba(black, 0.03);

			.nav-title {
				color: $primary-accent;
			}
		}

		&:hover { 
			background-color: $primary-bg;
			box-shadow: 1px 4px 4px 0 rgba(black, 0.03), 1px 5px 10px 0 rgba(black, 0.03);
		}
	}

	.nav-title {
		margin: 0;
		font-size: 0.8rem;
		transition: color $primary-time;
		color: $secondary-text;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		pointer-events: none;	// To make sure click event target is correct
	}

	@media screen and (max-width: $bp-xlarge) {
		#nav-bar {
			position: static;
		}
		
		#nav-left {
			left: 3vw;
		}

		#nav-right {
			right: 3vw;
		}
	}

	@media screen and (max-width: $bp-medium) {
		// Nav variables
		$nav-elem-width: 6rem;
		$nav-elem-margin: 0.4rem;
		padding-left: 1rem;
		padding-right: 1rem;

		#nav-container {
			// up to 5 transitions, max of 10 gallery pages
			@for $i from 1 through 5 {
				$distance: $nav-elem-width + (2 * $nav-elem-margin);
				$direction-left: 1;
				$direction-right: -1;
				
				&.left-#{$i} {
					@include nav-slide($distance, $direction-left, $i);
				}
				&.right-#{$i} {
					@include nav-slide($distance, $direction-right, $i);
				}
			}

			&::before,
			&::after {
				display: none;
			}
		}

		.nav-elem {
			min-width: $nav-elem-width;
			margin: $nav-elem-margin;
			padding: 1rem;
		}
	}

	@media screen and (max-width: $bp-small) {

	}
}