#overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	z-index: 3;

	background-color: $secondary-bg;
	overflow-y: auto;
	
	@extend .hide;
	transition: opacity $primary-time;
	&.show {
		@extend .show;
		z-index: 3;
	}

	#overlay-x {
		@extend .arrow;
		position: fixed;
		top: 2rem;
		right: 2rem;

		&:hover {
			transform: scale(1.1);
		}
	}

	.item-container {
		margin-left: auto;
		margin-right: auto;
		padding: 4rem;
		padding-top: 6rem;
		padding-bottom: 6rem;
		width: 76vw;
	}

	.item-caption {
		margin-bottom: 4rem;
		padding-bottom: 3rem;
	}

	.item-title {
		margin: 0;
		margin-bottom: 1rem;
		text-transform: uppercase;
		color: $primary-accent;
	}

	.item-desc {
		$font-size: 1rem;
		$line-height: 1.5;

		@extend .desc;
	}

	.photo {
		margin: 0;
		margin-bottom: 3rem;
		display: block;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.photo-img {
		width: 50%;
	}

	.photo-title {
		display: inline;
		margin-left: 2rem;
		@extend .desc;
	}

	@media screen and (max-width: $bp-large) {

		#overlay-x {		
			top: 1rem;
			right: 1rem;
		}

		.item-container {
			width: 100%;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
		.item-caption {
			width: 100%;
		}

		.photo {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.photo-title {
			margin: 0;
			padding: 1rem;
		}
		.photo-img {
			width: 100%;
		}
	}
}