#gallery-pages {
	position: relative;
	background-color: #eee;

	.page {
		width: 75vw;
		height: 100%;
	
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		padding: 3rem;
	
		position: absolute;
		top: 0;
		display: none;
	
		&.curr{
			position: relative;
			display: block;
		}
		
		&.next{
			display: block;
			right: -65vw;
		}
	
		&.prev{
			display: block;
			left: -65vw;
		}
	}
	
	.page-header {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-content: center;
		text-align: center;
	}
	
	.page-items {
		margin-top: 4rem;
		columns: 3;
		column-gap: 3rem;
	}
	
	.item {
		break-inside: avoid;
		margin-bottom: 3rem;
		background-color: white;
	}
	
	.item-caption {
		padding: 1rem;
	}
	
	.photo {
		margin: 0;
		padding: 0;
	
		width: 100%;
		height: auto;
	
		display: none;
		&:first-child {
			display: block;
		}
	}
	
	.photo-img {
		width: 100%;
	}

}