.page {
	width: 70vw;
	height: 100%;

	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10vw;
	padding-right: 10vw;

	position: absolute;
	display: none;

	&.selected{
		position: relative;
		display: block;
	}
}

.page-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.item {

}

.photo {
	margin: 0;
	padding: 0;

	width: 100%;
	height: auto;
	border: 5px solid black;

	display: none;
	&:first-child {
		display: block;
	}
}
